# Binaries for programs and plugins
cmd/hello-world/hello-world
cmd/findian/findian
cmd/trunc/trunc
cmd/slice/slice
cmd/makejson/makejson
cmd/read/read
cmd/bubblesort/bubblesort
cmd/displacement/displacement
cmd/animals/animals
cmd/polyanimals/polyanimals
cmd/twogorout/twogorout
cmd/concurrent-sort/concurrent-sort
cmd/dining-philosophers/dining-philosophers
